# do not commit composer vendor directory
vendor/*

# ignore composer.lock file
composer.lock

# ignore twig template cache files
templates/cache

# ignore the config file
config/config.ini

# ignore hidden operating system files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
